# IBM Data Science
## Applied Data Science Capstone - Week 3
**First Step**: Import all the necessary libraries

In [11]:
!pip install html5lib
!pip install lxml
!pip install beautifulSoup4

import pandas as pd
import numpy as np
import html5lib
import lxml
from bs4 import BeautifulSoup

Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.9999999)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from html5lib) (1.14.0)
Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.0)
Requirement already satisfied: beautifulSoup4 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.9.0)
Requirement already satisfied: soupsieve>1.2 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from beautifulSoup4) (2.0)

**Second Step**: Download the table as a list from wikipedia and convert in a dataframe

In [24]:
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
#Download as a list
canada = pd.read_html(link,flavor='html5lib')
canada[0]

,Postal code,Borough,Neighborhood
0,M1A,Not assigned,NaN
1,M2A,Not assigned,NaN
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,Regent Park / Harbourfront
...,...,...,...
175,M5Z,Not assigned,NaN
176,M6Z,Not assigned,NaN
177,M7Z,Not assigned,NaN
178,M8Z,Etobicoke,Mimico NW / The Queensway West / South of Bloo...
179,M9Z,Not assigned,NaN

In [50]:
#Convert in a dataframe
df_canada= pd.DataFrame(canada[0]) 
df_canada.head()

  Postal code           Borough                Neighborhood
0         M1A      Not assigned                         NaN
1         M2A      Not assigned                         NaN
2         M3A        North York                   Parkwoods
3         M4A        North York            Victoria Village
4         M5A  Downtown Toronto  Regent Park / Harbourfront

**Third Step**: Data formatting:
* Remove the rows with Borough value equals to "Not Assigned"
* Replace slash by comma in Neighborhood column
* Check if there are rows with no value or similar

In [51]:
#Remove the rows with Borough "Not Assigned" 
df_canada= df_canada[df_canada['Borough'] != "Not assigned"]
#Reset the index
df_canada.reset_index(drop=True, inplace=True)
df_canada.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park / Harbourfront
3         M6A        North York             Lawrence Manor / Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park / Ontario Provincial Government

In [57]:
#Replace slash by comma
df_canada = df_canada.replace({'/': ','}, regex=True)
df_canada.head()

  Postal code           Borough                                  Neighborhood
0         M3A        North York                                     Parkwoods
1         M4A        North York                              Victoria Village
2         M5A  Downtown Toronto                    Regent Park , Harbourfront
3         M6A        North York             Lawrence Manor , Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park , Ontario Provincial Government

In [60]:
#Check if there is Neighborhood with Not assigned or empty
df_canada[(df_canada['Neighborhood'] == "Not assigned")&(df_canada['Neighborhood'] == "")]

Empty DataFrame
Columns: [Postal code, Borough, Neighborhood]
Index: []

In [64]:
#Shape of the final dataframe
df_canada.shape

(103, 3)